<h1>
	Activez votre compte</h1>
<p>
	Bonjour
	{{user.firstname}}
</p>
<p>Votre inscription sur le site Tony commerce est a valider en cliquant sur ce lien :</p>
<p>
	<a href="{{ absolute_url(path('verify_user', {token: token})) }}">lien</a>
</p>
<p>ce lien expirera dans 15 minutes</p>
